@using AnimalShelter_FuryTales.Constants
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UsersItemViewModel

<div class="col-lg-6 mx-auto">
    <div class="card">
        <!-- Card Image -->
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="@Model.ProfilePicture" class="card-img h-100" alt="@Model.FirstName">
            </div>
            <!-- Card Info -->
            <div class="col-md-8">
                <div class="card-body h-100" style="background-color:rgba(176, 196, 222, 0.15);
">
                    <h5 class="card-title text-center">@Model.FirstName</h5>
                    <h5 class="card-subtitle mb-2">@Model.UserName</h5>
                    @if(!string.IsNullOrEmpty(Model.Ability)){
                        <h5 class="card-subtitle mb-2">Ability : @Model.Ability</h5> 
                    }
                    @if (@ViewBag.TotalAmount > 0){
                        <h5 class="card-subtitle mb-2">Donations :&euro;@ViewBag.TotalAmount</h5> 
                    }
                    @if (Model.Animals.Any()){
                        <h5 class="card-subtitle mb-2">Care for : </h5>
                        @foreach (var animal in Model.Animals){
                            <p class="d-inline">@animal.Name <i class="bi bi-capsule"></i></p>
                        }
                    }
                  
                </div>
            </div>
            <div class="card-footer">
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        @if (User.HasClaim(c => c.Value == GlobalConstants.VolunteerRoleName)){
                            <a asp-controller="Users" asp-action="IndexVolunteers" class="btn btn-outline-info flex-grow-1">Back</a>
                        }
                        else if (User.HasClaim(c => c.Value == GlobalConstants.AdminRoleName) && ViewBag.Index == GlobalConstants.IndexAdopters){
                            <a class="btn btn-outline-danger me-1 flex-grow-1" onclick="prepareDeleteModal('@Model.Id','@Model.FirstName')" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                            <a asp-controller="Users" asp-action="IndexAdopters" class="btn btn-outline-info flex-grow-1">Back</a>
                        }
                        else if (User.HasClaim(c => c.Value == GlobalConstants.AdminRoleName)){
                            <a asp-controller="Users" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-outline-warning me-1 flex-grow-1">Update</a>
                            <a class="btn btn-outline-danger me-1 flex-grow-1" onclick="prepareDeleteModal('@Model.Id','@Model.FirstName')" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                            <a asp-controller="Users" asp-action="IndexVolunteers" class="btn btn-outline-info flex-grow-1">Back</a>
                        }
                       
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    
</div>
<!-- Reset Modal -->
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteForm" method="post" asp-controller="Users" asp-action="Delete">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete the user @Model.FirstName?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="confirmationText"></p>
                    <input type="hidden" name="id" id="userIdToDelete" value="" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
function prepareDeleteModal(userId) {
    document.getElementById("userIdToDelete").value = userId;

}
</script>